/* Estilos Gerais */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fbe39f;
    color: #333;
}

.container {
    width: 90%;
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffe39a;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Título */
#cadastro-estilo {
    font-size: 24px;
    text-align: left;
    color: #333;
    margin-bottom: 20px;
}

/* Tabela de Formulário */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    text-align: left;
    padding: 10px;
    vertical-align: middle;
}

table th {
    background-color: #d1c0a8;
    color: #333;
    border: 1px solid #b2a07f;
}

table td {
    background-color: #fff;
    border: 1px solid #ccc;
    color: #333;
}

/* Input e Botões */
input[type="text"], 
input[type="number"], 
input[type="file"] {
    width: calc(100% - 10px);
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
}

input[type="text"]:focus, 
input[type="number"]:focus, 
input[type="file"]:focus {
    outline: none;
    border-color: #00796b;
}

.button {
    background-color: #004d40;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
    display: block;
    margin: 20px auto 0;
}

.button:hover {
    background-color: #00796b;
}

.selectSkillsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.selectSkillsContainer label {
    background-color: #8ba2c2;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

.selectSkillsContainer label:hover {
    background-color: #7bdb89;
}

.selectSkillsContainer input[type="checkbox"] {
    display: none;
}

.selectSkillsContainer input[type="checkbox"]:checked + label {
    background-color: rgb(146, 50, 50);
    color: white;
}

/* Responsividade */
@media (max-width: 600px) {
    table, th, td {
        font-size: 14px;
    }

    .button {
        width: 100%;
    }

    input[type="text"], 
    input[type="number"], 
    input[type="file"] {
        width: 100%;
    }
}

.btn-voltar {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 50px;
    color: #333;
    text-decoration: none;
}

.btn-voltar:hover {
    background-color: #ffa944;
}

.btn-sair {
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.sair {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #004d40;
    color: white;
    width: 65px;
    height: 60px;
    border-radius: 50%;
    text-decoration: none;
    font-size: 20px;
}

.sair:hover {
    background-color: #00796b;
}
