body {
    margin: 0;
    padding: 0;
    font-family: Afacad;
    background-color: #F3D796;
}

#tituloCadastros {
    color: rgb(39, 30, 30);
    text-align: center;
    margin-bottom: 40px;
}

.alerta{
    align-items: center;
    color: #000000;
    background-color: rgb(122, 207, 129);
    width: auto;
    height: 50px;
    border-radius: 10px;
    text-align: center;
    color: rgb(13, 22, 14);
    display: flex;
    flex-direction: row;
    size: 50px;
    gap: 15px;
}

.lista-de-brinquedos {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    gap: 20px;
}

.brinquedo-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(0, 0, 0);
    background-image: linear-gradient(#ececdc, #ccccbc);
    border-radius: 8px;
    text-align: center;
    padding: 10px;
    width: 600px;
    height: auto;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s, box-shadow 0.3s; 
    gap: 15px;
}

.brinquedo-card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    cursor: auto;
}

.brinquedo-image{
    max-width: 80px;
    max-height: 80px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
}

.brinquedo-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 10px;
}

.actions {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
    color: inherit;
}

.novo-brinquedo-card {
    color: #000000;
    background-image: linear-gradient(#80A4A4, #638080);
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s, box-shadow 0.3s;
}

.novo-brinquedo-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

@font-face {
    font-family: 'Afacad' ;
    src: url(../../fonts/AfacadFlux-VariableFont_slnt\,wght.ttf);
}
