body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #F3D796;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F8B23A;
    color: #000;
    width: 500px;
    height: 200px;
    margin: 20px auto;
    border: 3px dashed #D82B2B;
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}

.card-icon {
    margin-right: 10px;
    font-size: 24px;
}

.card h2 {
    font-size: 18px;
    margin: 0;
}

.menu {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: inherit;
}