.headerNavbar{
    background-color: rgb(32, 68, 99);
    color: rgb(203, 209, 241);
    padding: 20px;
    font-family: Afacad;
    align-items: center;
    text-align: center;
    right: 0;
    top: 0;
    width: 200px;
    height:100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.headerNavbar a {
    text-decoration: none;
    color: inherit;
}

#listaURLS{
    display: flex;
    flex-direction: column;
    margin-top: 18px;
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Afacad' ;
    src: url(../../fonts/AfacadFlux-VariableFont_slnt\,wght.ttf);
}
