/* Estilos Gerais */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fbe39f;
    color: #333;
}

.container {
    width: 90%;
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffe39a;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Título */
#cadastro-estilo {
    font-size: 24px;
    text-align: left;
    color: #333;
    margin-bottom: 20px;
}

/* Tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    table-layout: fixed; /* Adicionado para alinhamento idêntico */
}

table th, table td {
    text-align: left;
    padding: 10px;
    height: 44px;
    vertical-align: middle;
}

table th {
    background-color: #d1c0a8;
    color: #333;
    border: 1px solid #b2a07f;
    font-size: 16px; /* Garantia de tamanhos idênticos */
    word-wrap: break-word;
}

table td {
    background-color: #fff;
    border: 1px solid #ccc;
    color: #333;
    font-size: 16px; /* Garantia de tamanhos idênticos */
    word-wrap: break-word;
}

/* Botões */
button, .button {
    background-color: #004d40;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
    display: block;
    margin: 20px auto 0;
}

button:hover, .button:hover {
    background-color: #00796b;
}

/* Link de Voltar */
.btn-voltar {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 50px;
    color: #333;
    text-decoration: none;
}

.btn-voltar:hover {
    background-color: #ffa944;
}

/* Botão de Sair */
.btn-sair {
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.sair {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #004d40;
    color: white;
    width: 65px;
    height: 60px;
    border-radius: 50%;
    text-decoration: none;
    font-size: 20px;
}

.sair:hover {
    background-color: #00796b;
}

/* Responsividade */
@media (max-width: 600px) {
    table, th, td {
        font-size: 14px;
    }

    .button {
        width: 100%;
    }
}
