{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Cadastro</title>
    <link rel="stylesheet" href="{% static 'aplicacao/css/cadastrar.css' %}">
</head>
<body>
    <a href="{% url 'aplicacao:home_cadastros' %}" class="btn-voltar">&#8592;</a>
    <div class="container">
        <h1 id="cadastro-estilo">Novo Cadastro</h1>

        <form action="{% url 'aplicacao:cadastrar' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                <tr>
                    <th>Campo</th>
                    <th>Informação</th>
                </tr>
                <tr>
                    <td><label for="textFormNome">Nome:</label></td>
                    <td><input type="text" id="textFormNome" name="formNome" maxlength="150" required></td>
                </tr>
                <tr>
                    <td><label for="numberFormIdade">Idade:</label></td>
                    <td><input type="number" id="numberFormIdade" name="formIdade" required></td>
                </tr>
                <tr>
                    <td><label for="numberFormCpf">CPF:</label></td>
                    <td><input type="number" id="numberFormCpf" name="formCpf" maxlength="14"></td>
                </tr>
                <tr>
                    <td><label for="numberFormCelular">Número de Celular:</label></td>
                    <td><input type="number" id="numberFormCelular" name="formCelular" maxlength="15" required></td>
                </tr>
                <tr>
                    <td><label for="numberFormEmail">E-mail:</label></td>
                    <td><input type="text" id="textFormEmail" name="formEmail" maxlength="50"></td>
                </tr>
                <tr>
                    <td><label for="numberFormCep">CEP:</label></td>
                    <td><input type="number" id="numberFormCep" name="formCep" maxlength="9"></td>
                </tr>
                <tr>
                    <td><label for="textFormCidade">Cidade:</label></td>
                    <td><input type="text" id="textFormCidade" name="formCidade" maxlength="30" required></td>
                </tr>
                <tr>
                    <td><label for="textFormBairro">Bairro:</label></td>
                    <td><input type="text" id="textFormBairro" name="formBairro" maxlength="100"></td>
                </tr>
                <tr>
                    <td><label for="textFormRua">Rua:</label></td>
                    <td><input type="text" id="textFormRua" name="formRua" maxlength="150"></td>
                </tr>
                <tr>
                    <td><label for="numberFormNumero">Número:</label></td>
                    <td><input type="number" id="numberFormNumero" name="formNumero"></td>
                </tr>
                <tr>
                    <td><label for="textFormComplemento">Complemento:</label></td>
                    <td><input type="text" id="textFormComplemento" name="formComplemento" maxlength="50"></td>
                </tr>
                <tr>
                    <td><label for="textFormEscolaridade">Grau de escolaridade:</label></td>
                    <td><input type="text" id="textFormEscolaridade" name="formEscolaridade" maxlength="100"></td>
                </tr>
                <tr>
                    <td><label for="textFormExperiencia">Sobre você e experiência prévia de trabalho:</label></td>
                    <td><input type="text" id="textFormExperiencia" name="formExperiencia" maxlength="800"></td>
                </tr>
                <tr>
                    <td><label for="textFormDisponibilidade">Disponibilidade de horário:</label></td>
                    <td><input type="text" id="textFormDisponibilidade" name="formDisponibilidade" maxlength="200"></td>
                </tr>
                <tr>
                    <td><label for="textFormInteresse">Interesse em tipo/área de trabalho:</label></td>
                    <td><input type="text" id="textFormInteresse" name="formInteresse" maxlength="200"></td>
                </tr>
                <tr>
                    <td><label for="fileFormImagem">Imagem:</label></td>
                    <td><input type="file" id="fileFormImagem" name="formCadastroImagem"></td>
                </tr> 
            </table>

            <div class="skillsFormContainer">
                <h4>Selecione habilidades que você possui:</h4>

                <div class="selectSkillsContainer">
                    <input type="checkbox" id="selectSkillCostura" name="nameSkillCostura">
                    <label for="selectSkillCostura">Costura</label>
                
                    <input type="checkbox" id="selectSkillPintura" name="nameSkillPintura">
                    <label for="selectSkillPintura">Pintura</label>
                
                    <input type="checkbox" id="selectSkillGerenciamento" name="nameSkillGerenciamento">
                    <label for="selectSkillGerenciamento">Gerenciamento</label>

                    <input type="checkbox" id="selectSkillDesign" name="nameSkillDesign">
                    <label for="selectSkillDesign">Design</label>

                    <input type="checkbox" id="selectSkillCriatividade" name="nameSkillCriatividade">
                    <label for="selectSkillCriatividade">Criatividade</label>

                    <input type="checkbox" id="selectSkillAtendimento" name="nameSkillAtendimento">
                    <label for="selectSkillAtendimento">Atendimento ao cliente</label>

                    <input type="checkbox" id="selectSkillVendas" name="nameSkillVendas">
                    <label for="selectSkillVendas">Vendas</label>

                    <input type="checkbox" id="selectSkillVLimpeza" name="nameSkillLimpeza">
                    <label for="selectSkillLimpeza">Limpeza e organização</label>
                </div>
                
            </div>

            <div class="botaoForm">
                <input type="submit" value="Enviar" class="button">
            </div>
        </form>
    </div>

<div class="btn-sair">
    <a href="{% url 'usuarios:logout' %}" class="sair">&#x27F3; sair</a>
</div>
</body>
</html>
