{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Pasta</title>
    <link rel="stylesheet" href="{% static 'aplicacao/css/criar_pasta.css' %}">
</head>
<body>
    <a href="{% url 'aplicacao:gerenciar_pastas' %}" class="btn-voltar">&#8592;</a>
    <div class="page-criar-pasta">
        <h1>Criar Nova Pasta</h1>

        <form method="POST">
            {% csrf_token %}
            
            <!-- Nome da pasta -->
            <div class="form-group">
                <label for="nomePasta" class="label">Nome da Pasta:</label>
                <input type="text" id="nomePasta" name="nomePasta" required class="input">
            </div>

            <!-- Adicionar mulheres -->
            <div class="form-group">
                <label for="cadastros" class="label">Adicionar Mulheres:</label>
                <div class="checkbox-group">
                    {% for cadastro in cadastros %}
                        <div class="checkbox-item">
                            <label for="mulher_{{ cadastro.id }}" class="checkbox-label">{{ cadastro.nome }}</label>
                            <input type="checkbox" id="mulher_{{ cadastro.id }}" name="cadastros" value="{{ cadastro.id }}" class="checkbox-input">
                        </div>
                    {% endfor %}
                </div>
            </div>

            <button type="submit" class="btn-submit">Criar Pasta</button>
        </form>
    </div>

    <div class="btn-sair">
        <a href="{% url 'usuarios:logout' %}" class="sair">&#x27F3; sair</a>
    </div>
</body>
</html>
