{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ pasta.nome }} - Detalhes</title>
    <link rel="stylesheet" href="{% static 'aplicacao/css/detalhes_pasta1.css' %}">
</head>
<body>
    <a href="{% url 'aplicacao:home_cadastros' %}" class="btn-voltar">&#8592;</a>
    <div class="container">
        <h1 class="titulo">Pasta {{ pasta.nome }}</h1>
        <div class="lista-colaboradoras">
            {% for cadastro in pasta.cadastros.all %}
                <div class="colaboradora-item">
                    <p>{{ cadastro.nome }}</p>
                    <div class="acoes">
                        <a href="{% url 'aplicacao:visualizar_cadastros' cadastro.id %}" class="entrar">
                            Entrar
                        </a>
                        <a href="{% url 'aplicacao:editar' cadastro.id %}" class="editar">
                            ✏️
                        </a>
                    </div>
                </div>
            {% empty %}
                <p>Não há colaboradoras cadastradas.</p>
            {% endfor %}
        </div>
        <button class="adicionar">+ adicionar</button>
    </div>
    <div class="btn-sair">
        <a href="{% url 'usuarios:logout' %}" class="sair">&#x27F3; sair</a>
    </div>
</body>
</html>
