{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'aplicacao/css/editar.css' %}">
    <title>Editar Cadastro</title>
</head>
<body>
    <a href="{% url 'aplicacao:home_cadastros' %}" class="btn-voltar">&#8592;</a>
    <div class="container">
        <h1 id="cadastro-estilo">Editar Cadastro</h1>

        <form action="{% url 'aplicacao:editar' cadastro.id %}" method="POST">
            {% csrf_token %}
            <table>
                <tr>
                    <th>Campo</th>
                    <th>Informação</th>
                </tr>
                <tr>
                    <td><label for="textFormNome">Nome:</label></td>
                    <td><input type="text" id="textFormNome" name="formNome" maxlength="150" value="{{cadastro.nome}}" required></td>
                </tr>
                <tr>
                    <td><label for="numberFormIdade">Idade:</label></td>
                    <td><input type="number" id="numberFormIdade" name="formIdade" value="{{cadastro.idade}}" required></td>
                </tr>
                <tr>
                    <td><label for="numberFormCpf">CPF:</label></td>
                    <td><input type="number" id="numberFormCpf" name="formCpf" maxlength="14" value="{{cadastro.cpf}}"></td>
                </tr>
                <tr>
                    <td><label for="numberFormCelular">Número de Celular:</label></td>
                    <td><input type="number" id="numberFormCelular" name="formCelular" maxlength="15" value="{{cadastro.celular}}" required></td>
                </tr>
                <tr>
                    <td><label for="numberFormEmail">E-mail:</label></td>
                    <td><input type="text" id="textFormEmail" name="formEmail" maxlength="50" value="{{cadastro.email}}"></td>
                </tr>
                <tr>
                    <td><label for="numberFormCep">CEP:</label></td>
                    <td><input type="number" id="numberFormCep" name="formCep" maxlength="9" value="{{cadastro.cep}}"></td>
                </tr>
                <tr>
                    <td><label for="textFormCidade">Cidade:</label></td>
                    <td><input type="text" id="textFormCidade" name="formCidade" maxlength="30" value="{{cadastro.cidade}}" required></td>
                </tr>
                <tr>
                    <td><label for="textFormBairro">Bairro:</label></td>
                    <td><input type="text" id="textFormBairro" name="formBairro" maxlength="100" value="{{cadastro.bairro}}"></td>
                </tr>
                <tr>
                    <td><label for="textFormRua">Rua:</label></td>
                    <td><input type="text" id="textFormRua" name="formRua" maxlength="150" value="{{cadastro.rua}}"></td>
                </tr>
                <tr>
                    <td><label for="numberFormNumero">Número:</label></td>
                    <td><input type="number" id="numberFormNumero" name="formNumero" value="{{cadastro.numero}}"></td>
                </tr>
                <tr>
                    <td><label for="textFormComplemento">Complemento:</label></td>
                    <td><input type="text" id="textFormComplemento" name="formComplemento" maxlength="50"  value="{{cadastro.complemento}}"></td>
                </tr>
                <tr>
                    <td><label for="textFormEscolaridade">Grau de escolaridade:</label></td>
                    <td><input type="text" id="textFormEscolaridade" name="formEscolaridade" maxlength="100" value="{{cadastro.escolaridade}}"></td>
                </tr>
                <tr>
                    <td><label for="textFormExperiencia">Sobre você e experiência prévia de trabalho:</label></td>
                    <td><input type="text" id="textFormExperiencia" name="formExperiencia" maxlength="800" value="{{cadastro.experiencia}}"></td>
                </tr>
                <tr>
                    <td><label for="textFormDisponibilidade">Disponibilidade de horário:</label></td>
                    <td><input type="text" id="textFormDisponibilidade" name="formDisponibilidade" maxlength="200" value="{{cadastro.disponibilidade}}"></td>
                </tr>
                <tr>
                    <td><label for="textFormInteresse">Interesse em tipo/área de trabalho:</label></td>
                    <td><input type="text" id="textFormInteresse" name="formInteresse" maxlength="200" value="{{cadastro.interesse}}"></td>
                </tr>
                <tr>
                    <td><label for="fileFormImagem">Imagem:</label></td>
                    <td><input type="file" id="fileFormImagem" name="formCadastroImagem" value="{{cadastro.imagem}}"></td>
                </tr> 
            </table>

            <div class="skillsFormContainer">
                <h4>Selecione habilidades que o cadastro possui:</h4>

                <div class="selectSkillsContainer">
                    <input type="checkbox" id="selectSkillCostura" name="nameSkillCostura" value="{{cadastro.skillCostura}}">
                    <label for="selectSkillCostura">Costura</label>
                
                    <input type="checkbox" id="selectSkillPintura" name="nameSkillPintura" value="{{cadastro.skillPintura}}">
                    <label for="selectSkillPintura">Pintura</label>
                
                    <input type="checkbox" id="selectSkillGerenciamento" name="nameSkillGerenciamento" value="{{cadastro.skillGerenciamento}}">
                    <label for="selectSkillGerenciamento">Gerenciamento</label>

                    <input type="checkbox" id="selectSkillDesign" name="nameSkillDesign" value="{{cadastro.skillDesign}}">
                    <label for="selectSkillDesign">Design</label>

                    <input type="checkbox" id="selectSkillCriatividade" name="nameSkillCriatividade" value="{{cadastro.skillCriatividade}}">
                    <label for="selectSkillCriatividade">Criatividade</label>

                    <input type="checkbox" id="selectSkillAtendimento" name="nameSkillAtendimento" value="{{cadastro.skillAtendimento}}">
                    <label for="selectSkillAtendimento">Atendimento ao cliente</label>

                    <input type="checkbox" id="selectSkillVendas" name="nameSkillVendas" value="{{cadastro.skillVendas}}">
                    <label for="selectSkillVendas">Vendas</label>

                    <input type="checkbox" id="selectSkillVLimpeza" name="nameSkillLimpeza" value="{{cadastro.skillLimpeza}}">
                    <label for="selectSkillLimpeza">Limpeza e organização</label>
                </div>
                
            </div>

            <div class="botaoForm">
                <input type="submit" value="Enviar" class="button">
            </div>
        </form>
    </div>

    <br> <br> <br>

    <div class="btn-sair">
        <a href="{% url 'usuarios:logout' %}" class="sair">&#x27F3; sair</a>
    </div>
</body>
</html>
