{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Brinquedo</title>
    <link rel="stylesheet" href="{% static 'aplicacao/css/editar_brinquedo.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <a href="{% url 'aplicacao:home_brinquedos' %}" class="btn-voltar">&#8592;</a>
    <div class="container">
        <h1 id="brinquedo-estilo">Editar Brinquedo</h1>

        <form action="{% url 'aplicacao:editar_brinquedo' brinquedo.id %}" method="POST">
            {% csrf_token %}
            <table>
                <tr>
                    <th>Campo</th>
                    <th>Informação</th>
                </tr>
                <tr>
                    <td><label for="textFormBrinquedoNome">Nome:</label></td>
                    <td><input type="text" id="textFormBrinquedoNome" name="nameFormBrinquedoNomeEdit" maxlength="100" value="{{ brinquedo.nome }}" required></td>
                </tr>
                <tr>
                    <td><label for="textFormBrinquedoCategoria">Categoria:</label></td>
                    <td><input type="text" id="textFormBrinquedoCategoria" name="nameFormBrinquedoCategoriaEdit" maxlength="100" value="{{ brinquedo.categoria }}" required></td>
                </tr>
                <tr>
                    <td><label for="textFormBrinquedoMateriais">Materiais:</label></td>
                    <td><input type="text" id="textFormBrinquedoMateriais" name="nameFormBrinquedoMateriaisEdit" maxlength="200" value="{{ brinquedo.materiais }}" required></td>
                </tr>
                <tr>
                    <td><label for="textFormBrinquedoTematica">Temática:</label></td>
                    <td><input type="text" id="textFormBrinquedoTematica" name="nameFormBrinquedoTematicaEdit" maxlength="100" value="{{ brinquedo.tematica }}" required></td>
                </tr>
                <tr>
                    <td><label for="numberFormBrinquedoQuantidade">Quantidade:</label></td>
                    <td><input type="number" id="numberFormBrinquedoQuantidade" name="nameFormBrinquedoQuantidadeEdit" value="{{ brinquedo.quantidade }}" required></td>
                </tr>
            </table>

            <div class="botaoForm">
                <input type="submit" value="Salvar Alterações" class="button">
            </div>
        </form>
    </div>

    <div class="btn-sair">
        <a href="{% url 'usuarios:logout' %}" class="sair">&#x27F3; sair</a>
    </div>
</body>
</html>
