{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Brinquedos</title>
    <link rel="stylesheet" href="{% static 'aplicacao/css/editar_brinquedo.css' %}">
</head>
<body>
    {% include 'navbar.html' %}

    <h1>editar brinquedos</h1>

    <div class="container">

        <form action="{% url 'aplicacao:editar_brinquedo' brinquedo.id %}" method="POST">

            {% csrf_token %}

            <label for="textFormBrinquedoNome">Nome:</label></td>
            <input type="text" id="textFormBrinquedoNome" name="nameFormBrinquedoNomeEdit" maxlength="100" value="{{ brinquedo.nome }}" required>

            <label for="textFormBrinquedoCategoria">Categoria:</label></td>
            <input type="text" id="textFormBrinquedoCategoria" name="nameFormBrinquedoCategoriaEdit" maxlength="100" value="{{ brinquedo.categoria }}" required>

            <label for="textFormBrinquedoMateriais">Materiais:</label></td>
            <input type="text" id="textFormBrinquedoMateriais" name="nameFormBrinquedoMateriaisEdit" maxlength="200" value="{{ brinquedo.materiais }}" required>

            <label for="textFormBrinquedoTematica">Tematica:</label></td>
            <input type="text" id="textFormBrinquedoTematica" name="nameFormBrinquedoTematicaEdit" maxlength="100" value="{{ brinquedo.tematica }}" required>

            <label for="numberFormBrinquedoQuantidade">Quantidade:</label>
            <input type="number" id="numberFormBrinquedoQuantidade" name="nameFormBrinquedoQuantidadeEdit" value="{{ brinquedo.quantidade }}" required>
            
            <div class="botaoForm">
                <input type="submit" value="Enviar" class="button">
            </div>

        </form>

    </div>

</body>
</html>