{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciar Pastas</title>
    <link rel="stylesheet" href="{% static 'aplicacao/css/gerenciar_pastas.css' %}">
</head>
<body>
    {% include 'navbar.html' %}
    <div class="page-gerenciar-pastas">
        <h1>Gerenciar Pastas</h1>

        <!-- Card para Criar Pasta -->
        <a href="{% url 'aplicacao:criar_pasta' %}" class="card">
            <h2>Criar Pasta</h2>
        </a>

        <h2>Pastas Criadas</h2>
        <div class="lista-de-pastas">
            {% for pasta in pastas %}
                <div class="pasta-card">
                    <h3>{{ pasta.nome }}</h3>
                    <p><strong>Mulheres:</strong> 
                        {% for cadastro in pasta.cadastros.all %}
                            {{ cadastro.nome }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
