{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciar Skills</title>
    <link rel="stylesheet" href="{% static 'aplicacao/css/gerennciar_skills.css' %}">
</head>
<body>
    {% include 'navbar.html' %}

    <h1>Gerenciar Skills</h1>

    <form method="get">

        <label for>Selecione uma habilidade:</label>

        <select name="nameSelectBox" id="selectBox">
            <option value="">Selecione aqui</option>
            <option value="valueCostura">Costura</option>
            <option value="valuePintura">Pintura</option>
            <option value="valueGerenciamento">Gerenciamento</option>
        </select>

        <button type="submit">Filtrar</button>

    </form>

    <ul>
        {% for cadastro in cadastrosFiltrados %}
            <li>{{cadastro.nome}} - {{cadastro.celular}}</li>
        {% empty %}
            <h1>Nenhum cadastro com essa habilidade!</h1>
        {% endfor %}
    </ul>
</body>
</html>