{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Brinquedos</title>
    <link rel="stylesheet" href="{% static 'aplicacao/css/home_brinquedos.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="tituloBrinquedos">
        <br>
        <h1>Home Brinquedos</h1>
        <br>
    </div>

    <div class="container"> 

        <br>
            <a href="{% url 'aplicacao:home' %}">
                <i class="fa-solid fa-arrow-left" id="backIcon"></i>
            </a>
        <br>

        {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="alerta">
                    <i class="fa-solid fa-check"></i>
                    <p class="mensagem">{{ message }}</p>
                </div>
            {% endfor %}
        </div>
        <br>
        {% endif %}

        <div class="lista-brinquedos">
            <a href="{% url 'aplicacao:registrar_brinquedo' %}" class="adicionar">Novo Brinquedo</a>

            {% for brinquedo in todos_brinquedos %}
            <a href="{% url 'aplicacao:visualizar_brinquedo' brinquedo.id %}">
                <div class="brinquedo-item">
                    <div class="brinquedo-imagem">
                        {% if brinquedo.imagem %}
                            <img src="{{ brinquedo.imagem.url }}" alt="{{ brinquedo.nome }}" ==>
                        {% endif %}
                    </div>

                    <div class="brinquedo-info">
                        <p>{{ brinquedo.nome }}</p>
                        <p>{{ brinquedo.quantidade }}</p>
                    </div>

                    <div class="acoes">
                        <form action="{% url 'aplicacao:editar_brinquedo' brinquedo.id %}">
                            {% csrf_token %}
                            <button type="submit" class="editar-btn"><i class="fa-solid fa-pencil"></i></button>
                        </form>

                        <form action="{% url 'aplicacao:deletar_brinquedo' brinquedo.id %}" method="post" style="display: inline;">
                            {% csrf_token %}
                            <button type="submit" class="delete-btn"><i class="fa-solid fa-trash"></i></button>
                        </form>
                    </div>

                </div>
            </a>
            {% empty %}
                <p>Não há brinquedos disponíveis.</p>
            {% endfor %}
        </div>
    </div>

</body>
</html>
