{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastros</title>
    <link rel="stylesheet" href="{% static 'aplicacao/css/home.css' %}">
</head>
<body>
    <div class="container">
        <div class="menu">

            <a href="{% url 'aplicacao:home_brinquedos' %}">
                <div class="card">
                    <span class="card-icon">📁</span>
                    <h2>Brinquedos</h2>
                </div>
            </a>




            <a href="{% url 'aplicacao:visualizar_mulheres' %}">
                <div class="card">
                    <span class="card-icon">📁</span>
                    <h2>Meus Cadastros</h2>
                </div>
            </a>
        </div>
    </div>
</body>
</html>