{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link rel="stylesheet" href="{% static 'aplicacao/css/navbar.css' %}">
</head>
<body>
    <header>
        <div class="headerNavbar">

            <a href="/aplicacao/">
                <h1>LOGO</h1>
            </a>  

            <div id="listaURLS">

                <a href="/aplicacao/">
                    <h1>Gerenciar Cadastros</h1>
                </a>
                
                <a href="{% url 'aplicacao:gerenciar_skills' %}">
                    <h1>Gerenciar Skills</h1>
                </a>

                <a href="{% url 'aplicacao:adicionar_comentario' %}">
                    <h1>Meus Comentarios</h1>
                </a>

                <a href="{% url 'aplicacao:gerenciar_pastas' %}">
                    <h1>Gerenciar Pastas</h1>
                </a>

                <a href="{% url 'aplicacao:home_brinquedos' %}">
                    <h1>Home Brinquedos</h1>
                </a>

            </div> 

        </div>
    </header>
</body>
</html>