{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link rel="stylesheet" href="{% static 'aplicacao/css/navbar.css' %}">
</head>
<body>
    <header>
        <div class="headerNavbar">
            <a href="/">
                <h1>LOGO</h1>
            </a>  

            <div id="listaURLS">

                <a href="gerenciar_skills/1/">
                    <h1>Gerenciar Cadastros</h1>
                </a>

                <h1>Gerenciar Skills</h1>
                <h1>Gerenciar Pastas</h1>
            </div> 

        </div>
    </header>
</body>
</html>