{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Brinquedos</title>
    <link rel="stylesheet" href="{% static 'aplicacao/css/registrar_brinquedo.css' %}">
</head>
<body>
    <a href="{% url 'aplicacao:home_brinquedos' %}" class="btn-voltar">&#8592;</a>
    <div class="container">
        <h1 id="cadastro-estilo">Registrar Brinquedo</h1>

        <form action="{% url 'aplicacao:registrar_brinquedo' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                <tr>
                    <th>Campo</th>
                    <th>Informação</th>
                </tr>
                <tr>
                    <td><label for="textFormBrinquedoNome">Nome:</label></td>
                    <td><input type="text" id="textFormBrinquedoNome" name="nameFormBrinquedoNome" maxlength="100" required></td>
                </tr>
                <tr>
                    <td><label for="textFormBrinquedoCategoria">Categoria:</label></td>
                    <td><input type="text" id="textFormBrinquedoCategoria" name="nameFormBrinquedoCategoria" maxlength="100" required></td>
                </tr>
                <tr>
                    <td><label for="textFormBrinquedoMateriais">Materiais:</label></td>
                    <td><input type="text" id="textFormBrinquedoMateriais" name="nameFormBrinquedoMateriais" maxlength="200" required></td>
                </tr>
                <tr>
                    <td><label for="textFormBrinquedoTematica">Temática:</label></td>
                    <td><input type="text" id="textFormBrinquedoTematica" name="nameFormBrinquedoTematica" maxlength="100" required></td>
                </tr>
                <tr>
                    <td><label for="numberFormBrinquedoQuantidade">Quantidade:</label></td>
                    <td><input type="number" id="numberFormBrinquedoQuantidade" name="nameFormBrinquedoQuantidade" required></td>
                </tr>
                <tr>
                    <td><label for="fileFormBrinquedoImagem">Imagem:</label></td>
                    <td><input type="file" id="fileFormBrinquedoImagem" name="nameFormBrinquedoImagem"></td>
                </tr>
            </table>

            <div class="botaoForm">
                <input type="submit" value="Enviar" class="button">
            </div>
        </form>
    </div>

    <div class="btn-sair">
        <a href="{% url 'usuarios:logout' %}" class="sair">&#x27F3; sair</a>
    </div>
</body>
</html>
