{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizar Cadastro</title>
    <link rel="stylesheet" href="{% static 'aplicacao/css/visualizar_cadastros.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <a href="{% url 'aplicacao:home_cadastros' %}" class="btn-voltar">&#8592;</a>
    <div class="container">
        <h1 id="cadastro-estilo">{{ cadastro.nome }}</h1>

        <table>
            <tr>
                <th>Idade</th>
                <td>{{ cadastro.idade }}</td>
            </tr>
            <tr>
                <th>CPF</th>
                <td>{{ cadastro.cpf }}</td>
            </tr>
            <tr>
                <th>Celular</th>
                <td>{{ cadastro.celular }}</td>
            </tr>
            <tr>
                <th>CEP</th>
                <td>{{ cadastro.cep }}</td>
            </tr>
            <tr>
                <th>Cidade</th>
                <td>{{ cadastro.cidade }}</td>
            </tr>
            <tr>
                <th>Bairro</th>
                <td>{{ cadastro.bairro }}</td>
            </tr>
            <tr>
                <th>Rua</th>
                <td>{{ cadastro.rua }}</td>
            </tr>
            <tr>
                <th>Número</th>
                <td>{{ cadastro.numero }}</td>
            </tr>
            <tr>
                <th>Complemento</th>
                <td>{{ cadastro.complemento }}</td>
            </tr>
        </table>

        <div class="actions">
            <form action="{% url 'aplicacao:excluir' cadastro.id %}" method="post" style="display: inline;">
                {% csrf_token %}
            </form>
        </div>
    </div>

    <div class="btn-sair">
        <a href="{% url 'usuarios:logout' %}" class="sair">&#x27F3; sair</a>
    </div>
</body>
</html>
