{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizar Cadastro</title>
    <link rel="stylesheet" href="{% static 'aplicacao/css/cadastrar.css' %}">
</head>
<body>
    <a href="{% url 'aplicacao:home_cadastros' %}" class="btn-voltar">&#8592;</a>
    <div class="container">
        <h1 id="cadastro-estilo">Cadastro de {{ cadastro.nome }}</h1>
        
        <table>
            <tr>
                <th>Campo</th>
                <th>Informação</th>
            </tr>
            <tr>
                <td>Nome:</td>
                <td>{{ cadastro.nome }}</td>
            </tr>
            <tr>
                <td>Idade:</td>
                <td>{{ cadastro.idade }}</td>
            </tr>
            <tr>
                <td>CPF:</td>
                <td>{{ cadastro.cpf }}</td>
            </tr>
            <tr>
                <td>Celular:</td>
                <td>{{ cadastro.celular }}</td>
            </tr>
            <tr>
                <td>CEP:</td>
                <td>{{ cadastro.cep }}</td>
            </tr>
            <tr>
                <td>Cidade:</td>
                <td>{{ cadastro.cidade }}</td>
            </tr>
            <tr>
                <td>Bairro:</td>
                <td>{{ cadastro.bairro }}</td>
            </tr>
            <tr>
                <td>Rua:</td>
                <td>{{ cadastro.rua }}</td>
            </tr>
            <tr>
                <td>Número:</td>
                <td>{{ cadastro.numero }}</td>
            </tr>
            <tr>
                <td>Complemento:</td>
                <td>{{ cadastro.complemento }}</td>
            </tr>
            <tr>
                <td>Imagem:</td>
                <td>
                    {% if cadastro.imagem %}
                        <img src="{{ cadastro.imagem.url }}" alt="Imagem do Cadastro" style="max-width: 300px; max-height: 300px;">
                    {% else %}
                        <p>Sem imagem</p>
                    {% endif %}
                </td>
            </tr>
        </table>
        
    </div>
</body>
</html>
