{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizar Cadastro</title>
    <link rel="stylesheet" href="{% static 'aplicacao/css/cadastrar.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <a href="{% url 'aplicacao:home_cadastros' %}">
        <br>
        <i class="fa-solid fa-arrow-left" id="backIcon"></i>
    </a>
    <div class="container">
        <h1 id="cadastro-estilo">Cadastro de {{ cadastro.nome }}</h1>
        
        <table>
            <tr>
                <th>Campo</th>
                <th>Informação</th>
            </tr>
            <tr>
                <td>Foto:</td>
                <td>
                    {% if cadastro.imagem %}
                        <img src="{{ cadastro.imagem.url }}" alt="Imagem do Cadastro" style="max-width: 300px; max-height: 300px;">
                    {% else %}
                        <p>Sem imagem</p>
                    {% endif %}
                </td>
            <tr>
                <td>Nome:</td>
                <td>{{ cadastro.nome }}</td>
            </tr>
            <tr>
                <td>Idade:</td>
                <td>{{ cadastro.idade }}</td>
            </tr>
            <tr>
                <td>CPF:</td>
                <td>{{ cadastro.cpf }}</td>
            </tr>
            <tr>
                <td>Celular:</td>
                <td>{{ cadastro.celular }}</td>
            </tr>
            <tr>
                <td>E-mail:</td>
                <td>{{ cadastro.email }}</td>
            </tr>
            <tr>
                <td>CEP:</td>
                <td>{{ cadastro.cep }}</td>
            </tr>
            <tr>
                <td>Cidade:</td>
                <td>{{ cadastro.cidade }}</td>
            </tr>
            <tr>
                <td>Bairro:</td>
                <td>{{ cadastro.bairro }}</td>
            </tr>
            <tr>
                <td>Rua:</td>
                <td>{{ cadastro.rua }}</td>
            </tr>
            <tr>
                <td>Número:</td>
                <td>{{ cadastro.numero }}</td>
            </tr>
            <tr>
                <td>Complemento:</td>
                <td>{{ cadastro.complemento }}</td>
            </tr>
            <tr>
                <td>Escolaridade:</td>
                <td>{{ cadastro.escolaridade }}</td>
            </tr>
            <tr>
                <td>Experiência:</td>
                <td>{{ cadastro.experiencia }}</td>
            </tr>
            <tr>
                <td>Disponibilidade:</td>
                <td>{{ cadastro.disponibilidade }}</td>
            </tr>
            <tr>
                <td>Área de interesse:</td>
                <td>{{ cadastro.interesse }}</td>
            </tr>
            </tr>
        </table>
        <h2>Comentários</h2>
        <div class="comentarios">
            {% if comentarios %}
                <ul>
                    {% for comentario in comentarios %}
                        <li>
                            <strong>{{ comentario.colaborador.nome }}:</strong> {{ comentario.texto }}
                            <br><em>{{ comentario.data_criacao }}</em>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Este colaborador ainda não tem comentários.</p>
            {% endif %}
        </div>
    </div>
</body>
</html>
