{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voltar ao Início</title>
    <link rel="stylesheet" href="{% static 'usuarios/css/logout.css' %}">
</head>
<body>

    <div class="main-container">
        <!-- Caixa para o link -->
        <div class="return-link-container">
            <h1>Você foi desconectado!</h1>
            <a href="{% url 'usuarios:usuarios' %}">Voltar para o Início</a>
        </div>
    </div>

</body>
</html>
